<!-- app/views/employees/edit.html.erb -->
<%= stylesheet_link_tag "edit", media: "all" %>

<div class="edit-container">
  <h1>Edit Employee</h1>

  <%= render 'form' %>

  <div class="actions-container">
    <%= link_to 'Show', employee_path(@employee) %>
    <%= link_to 'Back', employees_path %>
  </div>
</div>
