/* login.css */

/* Center the login container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Style the login heading */
  .login-heading {
    font-size: 32px; /* Or any size you prefer */
    font-weight: bold;
    /* Add any other styles you want for the text */
  }
  